body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}
header{
    background-color:#f0c650;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}
.topnav{
    overflow: auto;
    background-color: #ffeab0;
}
.topnav a{
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px;
    font-size: 17px;
    text-decoration:none;
}
.topnav a:hover {
    background-color: #fff7e1;  
    color: black;
  }
  
.topnav a.active {
    background-color: #f5cd60;
    color: white;
  }
body{
    background-color:#fff4d7;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}
section{
    margin-top: 0.5rem;
}
.Container{
    padding-top: 0.5rem;
    background-color: #ffe8a9;
}
footer{
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    background-color:#f0c650;
    overflow: auto;
}
div{
    text-align:center;
}
.gallery{
    border: #a9840b solid;
    width: 70%;
    margin:3px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    margin-top: 5px;
}
.gallery img {
    width: 100%;
    height: auto;
    float: left;
 }
.information{
    text-align: center;
}
.img{
    margin-top: 10px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
video{
    border-radius: 1%;
}
h1{
    font-family: 'Quicksand', sans-serif;
}
h2{
    font-family: 'Quicksand', sans-serif;
}
a{
    color: #fad777;
}